
.color-primary {
  background-color: $color-primary;
}

.navbar {
  font-size: $default-font-size;
  & .navbar-brand {
    font-size: $default-font-size;
  }
  & .dropdown-toggle::after {
    vertical-align: 0.5em;
  }
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  left: -40px;
}

.text-brand {
  padding-left: 5px;
  display: inline-block;
  text-align: center;
  line-height: 1.5rem;
  &--main {
    text-transform: uppercase;
    display: block;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.466);
    color: $color-tertiary;
    font-weight: 800;
    font-size: 2rem;
  }

  &--sub {
    text-transform: uppercase;
    display: block;
    color: #fff;
    font-weight: 700;
    font-size: $default-font-size;
  }
}
.size-3 {
  font-size: 3rem;
}
.size-35 {
  font-size: 3.5rem;
}
