// COLORS
/*$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;*/

/*$color-primary: #0b3954;
$color-secondary: #093147;
$color-tertiary: #edae49;
$color-fourth: #d1495b;
$color-five: #00798c;*/

$color-primary: #2e314d;
$color-primary-light: #3a3b5d;
$color-primary-dark: #1b1d2e;

$color-secondary-dark:#b62533;
$color-secondary-light: #d1495b;

$color-tertiary: #1c1d2f;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #ccc;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;