.CityInfo{
    text-align: left;
    &__heading{
        font-weight: 400;
        text-align: center;
        font-size: 2rem;
    }
    
}
$color-tertiary: #edae49;
.CityPosition{
    font-size: 1.3rem;
    padding: .8rem;
    border: 1px solid;
    color: #fff;
    border-color: #cccc;
    display: flex;
    border-radius: 4px;
    width: 100%;
    padding: 1rem;
    justify-content: space-around;
    background-color: $color-tertiary;
}
$color-fourth: #ea4335;

.Candidate{
    text-align: center;
    //border: 1px solid;
    //background-color: rgba(247, 0, 0, 0.918);
    //color: white;
    border-radius: 10px;
    &__party{
        color: $color-fourth;
        font-weight: 400;
        font-size: 1.9rem;
        //border-bottom: 1px solid;

    }
    &__pic{
        width: 100px;
        border-radius: 50px;

    }
    &__name{
        font-size: 1.6rem;

    }
    &__info{
        font-size: 1.2rem;
        padding:  0 1rem;
        text-align: justify;

    }
    

    &__partypic{
        width: 100px;
        border-radius: 50px;
    }
}

.SelectAdvise{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
    &__Icon{
        color:$color-tertiary;
    }
    &__text{
        text-transform: capitalize;
        font-size: 1.6rem;
        font-weight: 400;
    }
    @media only screen and (max-width: 1400px) {
        height: 60vh;
        min-height: 60vh;
    }
}