.Dashboard {
  min-height: 100vh;
  padding-top: 50.2667px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Cities {
  display: flex;
  flex-direction: column;
}

.Candidates {
  display: flex;
  flex-direction: column;
}
