.MapContainer{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    @media only screen and (max-width: 1400px) {
        flex-direction: column;
    }
}
.Map{
    flex: 3;
    height: 93vh;
    min-height: 93vh;
    @media only screen and (max-width: 1400px) {
        height: 60vh;
        min-height: 60vh;
    }
}
$color-primary: #0b3954d8;
$color-secondary: #093147;
$color-tertiary: #edae49;
$color-fourth: #d1495b;
$color-five: #00798c;
.info {
    height: 93vh;
    min-height: 93vh;
    overflow-y: scroll;
    flex:.8;
    background-color: rgba(226, 226, 226, 0.5);
    padding: 3rem;
    overflow-y: auto;
}

.loading {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    font: .65% "Segoe UI", Arial, sans-serif;
    color: #fff;
    background: #000;
}

loading-h1 {
    text-align: center;
    margin: 0;
    font-weight: 250;
    font-size: 6rem;
}