.color-primary{
    background-color: $color-primary;
}
.color-primary-light {
    background-color: $color-primary-light;
}
.color-primary-dark{
    background-color: $color-primary-dark;
}
.color-tertiary{
    background-color: $color-tertiary;
}

.default-size{
    font-size: $default-font-size;
}

.text-color-blue{
    color:#4fa7da;
}